@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: #F5F5F5;
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}